@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Expanded');
$bluegray: #364e66;
$red: #eb4a3e;
$grey: #a2aaae;
$white: #fbfafa;
body {
  font-size: 2rem;
  font-family: 'Encode Sans Expanded', sans-serif;
  background: $bluegray;
  color: $white;
  padding-top: 4em;
}

.wrapper {
  width: 95%;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

.settings {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  .break,
  .session {
    flex: 1 1 33%;
  }
  h3 {
    font-size: 0.8em;
    font-weight: 300;
    margin-bottom: 0.2em;
  }
  p {
    display: inline-block;
    font-size: 2em;
    margin: 0.1em;
    width: 80px;
  }
  button {
    background: none;
    border: none;
    box-shadow: none;
    font-size: 1.2em;
    color: $white;
    transform: translateY(-8px);
  }
  @media screen and (max-width: 480px) {
    flex-direction: column;
  }
}

.timer {
  border: 2px solid $red;
  border-radius: 1em;
  margin: 2em auto;
  width: 70%;
}